<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
     <script src="{{ asset('bundles/framework/js/jquery.min.js') }}"></script>
     <script src="{{ asset('bundles/framework/js/jquery_test.js') }}"></script>
     <link href="{{ asset('bundles/framework/css/styles.css') }}" type="text/css" rel="stylesheet" />
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
       <body style="background-color: #f00000; text-align :center;">

      <script type="text/javascript">
  <!--
    jQuery(document).ready(function($){
    $('#exemple-fadetoggle a').click(function(e){
        $('#exemple-fadetoggle span').fadeToggle();
    });
});
    </script>

 
<div id="exemple-fadetoggle">
    <a href="#"><h1><i>TEST JQUERY :CLIQUEZ ICI !</i></h1></a>
    <span>Reclique pour effacer !</span>
</div>

<div class="parent2">
  <div class="test1"><i class="fa fa-user fa-2x"></i></div>
  <div class="test2"><i class="fa fa-graduation-cap fa-2x"></i></div>
  <div class="test3"><i class="fa fa-code fa-2x"></i></div>
  <div class="test4"><i class="fa fa-envelope-o fa-2x"></i></div>
  <div class="mask2"><i class="fa fa-home fa-3x"></i></div></div>


  </body>
</html>